a {
    text-decoration: none !important;
    color: #444444;
}

header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    background: #fff;
    width: 100%;
    height: 93px;
    z-index: 10;
    top: 0;
    .header-menu {
        display: flex;
        max-width: 1130px;
        width: 100%;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        justify-content: space-between;

        .header-logo {
            margin-top: 12px;
        }

        .menu-head {
            margin-top: 39px;
            display: flex;
            justify-content: space-between;

            .par {
                margin-top: 10px;
                margin-right: 66px;
            }

            .phone {
                margin-top: 10px;
                display: flex;

                a {
                    padding-bottom: 10px;
                    margin-left: 8px;
                }
            }

            .cart {
                position: relative;
                margin-left: 44px;
                width: 43.4px;
                margin-bottom: 10px;
                background: url(/images/Ellipse\ 12.png);
                background-repeat: no-repeat;
                background-size: auto;
                background-position: center;

                .cart-pic {
                    margin-top: 7px;
                    margin-left: 11.5px;
                }
                .counter{
                    width: 18px;
                    background:url(/images/Ellipse\ 9.png);
                    background-repeat: no-repeat;
                    position: absolute;
                    right: -1px;
                    bottom: 21px;
                    color: #fff;
                    text-align: center;
                }

            }
        }
    }
}

.content{
    .banner{
        display: flex;
        height: 526px;
        width: 100%;
        //margin-top: 93px;
          #slideMain{
            height: 100%;
          }
          .slider{
            background: #F6F6F6;
            background-image: url(/images/Mask\ Group.png);
            background-position: right;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 0px 0px 10px #fff;
            p{
              font-size: 35px;
              font-weight: 700;
              color: #fff;
            }
          }
    }
}